header {
    background-color: $fudo-grey;
    width: 100%;
}

.header-container {
    &__logo {
        display: flex;
        justify-content: initial;
        align-items: center;
        height: 6em;
        margin-left: 24px;

        img {
            padding-left: 4px;
        }

    }
}