header {
    background-color: $fudo-grey;
    width: 100%;
}

.content {
    &__container {
        display: flex;
        justify-content: initial;
        align-items: center;
        height: 6em;
    }
}